html,body {min-height:100%}
body {
  font-family: serif;
  /* Gradient Background */
  background: rgb(206,220,231); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

#header {
  color: #fff;
  padding: 10px 7px;
  margin-bottom: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 14px;
  display:table;

  /* Gradient Background */
  background-color: rgba(210, 35, 42, 1);
  color: rgba(210, 35, 42, 1);
}

#logo a {
}

/** nav **/

#nav {
  vertical-align:text-bottom;
  float:left;
  margin: 17px 0px 0px 30px;
}

.nav-button {
  margin: 2px;
  padding: 3px 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  color: #444;
  /* Gradient Background */
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(163,163,163,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(163,163,163,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(163,163,163,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(163,163,163,1) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(163,163,163,1) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#a3a3a3',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(163,163,163,1) 100%); /* W3C */
}

.nav-button a {
  color: #444;
  text-decoration: none;
}
.nav-button a:visited {
  color: #444;
}

#nav-user {
  float: right;
  text-align:right;
  vertical-align:text-bottom;
  margin-top: 17px;
  color: #fff;
}

/** content **/

#container {
}

#content{
  float:left;
  clear:both;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background:white;
}

#sidebar{
  float:right;
}

#post {
  margin: 10px 0px 10px 0px;
  clear:both;
}

#social {
  margin: 10px 0px 10px 0px;
  padding: 1px;
}

#tag-post {
    background: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 1px;
    font-size: 12px;
    text-decoration: none;
    float:left;
    display:inline;
    width:22px;
    margin: 10px 0px;
}

#tag-on-post {
    background: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 1px;
    font-size: 12px;
    text-decoration: none;
    height:17px;
}

#tag-index a {
    background: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: none;
}

#paginate {
  color: #777;
  font-size: 14px;
  padding:3px;
  vertical-align:middle;
  /* text-decoration:none;*/
}

a {
  color: #555;
}

/** Forms **/

.msg {
  padding: 5px;
  margin: 10px 0px;
}

#notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#error, #alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#title a {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

#info {
  font-size: 12px;
  color: #777;
}


#tags {
    margin: 2px;
	display: inline;
}

#tag a {
    background: #eee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	padding: 2px;
  margin-bottom: 10px;
	font-size: 12px;
	text-decoration: none;
}

#url a {
	color: #888;
  font-size:12px;
  text-decoration:none;
}

td {
	padding-bottom: 10px;
}

#post_submit {
	border: 1px solid #8496BA;
	padding: 6px;
	background: #EFF2F7;
}

.actions {
  margin-top: 15px;
}

h1, h3 {
  margin-top: 0px;
    color: #888;
	padding: 2px;
	text-decoration: none;
}

#submit {
  vertical-align:baseline;
  text-decoration:underline;
    color: #777;
	/* padding: 16px;*/
	font-size: 16px;
	text-decoration: none;
  clear:both;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#community {
  margin-top:30px;
}
