<% title 'Tags' %>

<table>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag %></td>
	<td><%= tag.posts.count.to_s + " posts" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back to Home Page', posts_path %>
