<p id="notice"><%= notice %></p>

<p>
  <b>Tag:</b>
  <%= @tag.name %>
</p>

<p>
  <% @posts.each do |post| %>
  <div><%= link_to post.title, post %></div>
  <% end %>
</p>

<%= link_to 'Back to Home Page', posts_path %>
